{
  "channels": [
    {
      "name": "Fire - Control-1",
      "url": "https://cast1.sql2.smrn.com/7401/",
      "color": "red",
      "tag": "South Zone",
      "gain": 1.0,
      "group": "Fire",
      "noiseGate": {
        "enabled": true,
        "threshold": -42,
        "ratio": 3,
        "attack": 0.005,
        "release": 0.3
      },
      "transmission": {
        "silence_threshold": -47,
        "min_length": 600,
        "max_length": 15000,
        "silence_gap": 400
      }
    }
  ]
}
